{% trans_default_domain 'FOSUserBundle' %}


<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>invitation code: {{ user.invite }}</p>

    {% if is_granted("ROLE_AGENT") %}
        {% for client in clients %}
            <p>{{ client }}</p>
        {% endfor %}

    {% endif %}




</div>
