{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block private_css %}
    <link rel="stylesheet" href="{{ asset('js/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}
{% block page_header %}添加股票信息{% endblock %}
{% block content %}

    <div class="col-md-7" style="margin-left: 19%">
      <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">输入客户保险产品信息</h3>
        </div>
        <form role="form" method="post" action="/admin/addinsurance/{{ id }}">
            <div class="box-body">
                <div class="form-group">{{ form_row(form.insurance_name) }}</div>
                <div class="form-group">{{ form_row(form.type) }}</div>
                <div class="form-group">{{ form_row(form.insurance_premium) }}</div>
                <div class="form-group">{{ form_row(form.sum_insured) }}</div>
                <div class="form-group">{{ form_row(form.policy_holder) }}</div>
                <div class="form-group">{{ form_row(form.recognizee) }}</div>
                <div class="form-group">{{ form_row(form.age_at_issue) }}</div>
                <div class="form-group">{{ form_row(form.years) }}</div>
                <div class="form-group">{{ form_row(form.born_date) }}</div>
                <div class="form-group" style="width:13%">{{ form_row(form.gender) }}</div>
                <div class="form-group" style="width:13%">{{ form_row(form.is_smoking) }}</div>
                <div class="form-group">{{ form_row(form.buy_date) }}</div>
                <div class="form-group">{{ form_row(form.next_pay_date) }}</div>
            </div>
            <div class="box-footer"><button class="btn btn-primary" style="padding-top: 3px;font-size:14px" type="submit">提交</button></div>
            {{ form_rest(form) }}
        </form>
      </div>
    </div>
{% endblock %}




{% block private_js %}
    <!--DataTables-->
    <script src="{{ asset('js/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/slimScroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('js/fastclick/fastclick.min.js') }}"></script>
    <script src="{{ asset('js/demo.js') }}"></script>
    <script>
        $(function () {
            $("#products_list1").DataTable();
            $('#products_list2').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
{% endblock %}