{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block private_css %}
    <link rel="stylesheet" href="{{ asset('js/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}
{% block page_header %}修改客户股票信息{% endblock %}
{% block content %}

    <div class="col-md-7" style="margin-left: 19%">
        <
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">输入客户股票产品信息</h3>
                <div class="pull-right"><a href="/admin/product_detail/{{ user_id }}" class="text-muted"><i class="fa fa-arrow-left">返回股票列表</i></a></div>
            </div>
            <form role="form" method="post" action="/admin/edit_stock/{{ id }}">
                <div class="box-body">
                    <div class="form-group">{{ form_widget(form) }}</div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary" style="padding-top: 3px;font-size:14px" type="submit">提交</button>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}

                    {{ form_start(delete_form,{'attr':{'style':'display:inline'}}) }}
                    <button class="btn btn-danger" type="submit" style="padding-top: 3px;font-size:14px">删除</button>
                    {{ form_end(delete_form) }}

                </div>
            </form>

        </div>
    </div>
{% endblock %}




{% block private_js %}
    <!--DataTables-->
    <script src="{{ asset('js/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/slimScroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('js/fastclick/fastclick.min.js') }}"></script>
    <script src="{{ asset('js/demo.js') }}"></script>
    <script>
        $(function () {
            $("#products_list1").DataTable();
            $('#products_list2').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
{% endblock %}